apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vorion

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - secrets.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - hpa.yaml
  - pdb.yaml
  - networkpolicy.yaml

commonLabels:
  app.kubernetes.io/managed-by: kustomize
  app.kubernetes.io/part-of: vorion

images:
  - name: ghcr.io/voriongit/agentanchor
    newTag: latest
